button:hover {
    cursor: pointer;
    background-color: aqua;
}

h3 {
    background-color: aquamarine;
    border: 1px solid black;
    
}

span {
    background-color: gray;
    width: 1px;
    border: 1px solid black;
    padding: 3px;
    border-radius: 10px;
    
}